.todos {
    margin: 30px 0;
}

.section-todo {
    margin-top: 20px;
    color: #5a5a5a;
    font-size: 18px;
}

.section-todo h1,h2,h3,h4 {
    font-size: inherit;
    color: #db6473;
}

/* overrides */

.Toastify__toast--success {
    background: #53a846 !important;
}

.react-confirm-alert-overlay {
    background: rgba(255, 255, 255, 0.1) !important;
}

.react-confirm-alert-body {
    background: #181b1f !important;
}